<%- include('header'); -%>

      <div class="col-md-5 offset-md-6" id="Boxes">
         <div class="row">
            <div class="w-100 p-3" style="background-color: #eee;">Width 100%</div>
         </div>
         <div class="row">
            <div class="w-100 p-3" style="background-color: #eee;">Width 100%</div>
         </div>
      </div>


<%- include('footer'); -%>
