<%- include('header'); -%>
      <div class="row">
         <img src="./img/Futures.jpg" style="width:100%"/>
      </div>
      <div class="row">
         <button type="button" class="btn btn-primary" style="width:100%">
            Kids enter here
         </button>
      </div>
      <div class="row">
         <button type="button" class="btn btn-primary" style="width:100%">
            Donors enter here
         </button>
      </div>
      <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.bundle.js"></script>
   </body>
</html>
<%- include('footer'); -%>
