<!DOCTYPE html>
<html>
   <head>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
	</head>
   <body>
      <!-- Copy pasted from: https://www.w3schools.com/bootstrap/bootstrap_forms_inputs.asp -->
      <div class="container">
         <div class="container">
            <div class="row">
               <h1 style="padding:100px">
                  Waiting for input.
               </h1>
            </div>
            <div class="row">
               <div class="col-sm">
                  <div class="form-group">
                     <label for="usr">Name:</label>
                     <input type="text" class="form-control" id="usr">
                  </div>
                  <div class="form-group">
                     <label for="pwd">Password:</label>
                     <input type="password" class="form-control" id="pwd">
                  </div>
               </div>
               <div class="col-sm">
                  <!-- place holder so the inputs can be on the left side of the page -->
               </div>
            </div>
         </div>
      </div>
      <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.bundle.js"></script>
   </body>
</html>
