
<%- include('header'); -%>

<h1> studnet-dashboard </h1>
      <div class="col-md-5 offset-md-4" id="Boxes">
         <div class="row">
            <div class="w-100 p-3" style="background-color: #eee;">To start or fund</div>
         </div>
         <div class="row">
            <div class="w-100 p-3" style="background-color: #eee;">To explore projects</div>
         </div>
      </div>

<%- include('footer'); -%>
